@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;;
    animation: font;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    background-color:transparent;
    font-size: 25px;
}
body{
background-color: rgb(10, 24, 80);
text-align: center;
}
@keyframes font{
    0%{color: rgb(227, 111, 39);}
    25%{color: rgb(244, 154, 10);}
    50%{color: rgb(232, 193, 22);}
    75%{color: rgb(244, 154, 10);;}
    100%{color: rgb(227, 111, 39);}
    
}
a{
    text-decoration: none;
}
a:hover{
    color:coral;
    transition: 0.8s; 
    border-color: coral;
}
.header{
   
    min-height: 80vh;
    width: 90%;
    height: 85vh;
    background-image: radial-gradient(rgb(13, 12, 11, 0.8) ,rgba(11, 21, 54, 0.8)),url(images/mars-sector-6-USp4Gzr-Hdw-unsplash.jpg);
    background-position: 10%;
    background-size: cover;
    overflow: hidden;
    border-radius: 0 0 50% 30%;
    transform: scaleX(1.3);


    
}
.rrwe{
    background-color: transparent;
    border: 5px dotted black;
    border-radius: 53%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 45vh;
    animation: cicle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes cicle{
    50%{transform: rotateZ(40deg); border-color: rgb(221, 222, 218);}
    75%{transform: rotateZ(90deg);border-color: antiquewhite}
    100%{transform: rotateZ(60deg);border-color: white}
}
.spo{
    font-size: 20px;
    color: antiquewhite;
}
#img1{
    margin-top: -7px;
    height: 45px;
    width: 45px;
    padding-left: 40%;
}

nav{
    margin: 0px auto;
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    padding: 2% 6%;
    justify-content: space-between;
    
}
.nav_container{
    width: 85%;
    margin: 0 auto;
    margin-top: 10px;
}
.logo{
    display: flex;
   width: 50%; 
}
.logo h2{
    width: 10%;
    padding-left: 10%;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav-links{
   width: 50%;  
}
.nav-links ul{
    display: flex;
    justify-content: flex-end;
}

.nav-links ul li{
    color: rgb(243, 72, 10);
    list-style: none;
    display: inline-block;
    padding: 5px;  
    margin: 0 5px;  
    border-radius: 2px;
    animation: fade;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    border: solid rgb(26, 26, 196);
    
}
.nav-links ul li a{
    margin-top: 3px;
    color: rgb(4, 4, 75);
    font-size: 20px;
    text-decoration: none;
}
.nav-links ul li:hover{
    background-color: blue;
    color:coral;
    transition: 0.5s; 
    border: solid;
    transform: scale(1.1,1.1);
}
@keyframes fade{
    50%{opacity: 0.9;}
}
.text{
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.preludde{
    width: 80%;
    margin: 0 auto;
}
.text p{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.text h1{
    font-size: 35px;
}
@media(min-width: 1100px){
    .text{
        width: 85%;
    }
}
.hero{
    margin-top: 5px;
    display: inline-block;
    padding: 5px;
    border: 2px solid black;
   
    
    cursor: pointer;
    position: relative;
}

.nav_close,
.nav_toggle{
    display: none;
    line-height: 30px;
    font-size: 20px;
    cursor: pointer;
    border: none;
}
.nav-toggle:hover{
    color: coral;
    font-size: 2rem;
}

.course{

    margin: auto;
    text-align: center;
    margin-top: 0px;
}
.classes{
    list-style: none;
}
h1{
    font-size: 40px;
    font-weight: 600;
}
p{
   
    font-weight: 300;
    padding: 5px;
    line-height: 22px;
}
.classes li{
    padding: 5px;
}
.row{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    width: 80%;
    margin: 0 auto;
      
}
.course-ex{
    flex-basis: 31%;
    box-sizing: border-box;
    padding: 20px 20px;
    border-style: inset;
    border-radius: 20px;
    font-size: 20px;
    margin: 10px 20px;
    background-color: antiquewhite;
    transition: 0.5s;
}
.course-ex:hover{
    cursor: pointer;
    background-image: linear-gradient(rgb(14, 17, 32) , rgb(16, 16, 56));
    box-shadow: 0 0 20px 0;
    
}
.course-ex:hover p{
   color: rgb(247, 156, 99);
   font-size: 25px;
}
.course-ex h3{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 5px;
}
.course-ex p{
    margin: auto;
    transition: .5s;
}
.current_course{
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
.list{
    margin: 0 auto;
    width: 70%;
}

@media(max-width: 1100px){
    .row{
        flex-direction: column;
    }
    .course-ex{
        width: 100%;
   }
}
.tutor{
    height: 50vh;
}
.tutor_container{
    width: 90%;
    margin: 0 auto;   
    height: 80%;
    display: flex;
    justify-content: center;
         
}
.tutor_img img{
    height: 80%;
    border-radius: 20%;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(3, 3, 54);
       
}
.tutor_img{
    width: 50%;    
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 3%;
       
}
.tutor_content{
    width: 50%;
    height: 25vh;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 3%;

}
button{
    border-color: rgb(214, 146, 98);
    background-color: rgb(8, 27, 110);
    
}
.tutor_content button{
    display: inline-block;
    width: 60%;
    height: 40px;
    border-radius: 10%;
    border-color: rgb(214, 146, 98);
    

}
.tutor_content a{
    color: rgb(11, 11, 109);
    padding: 3px;
}



.vision{
   
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
.vision_container{
    width: 80%;
    margin: 0 auto;
}
.vstat{
    display: flex;
    justify-content: space-evenly;
    width:80%;
    margin: 0 auto;
   
}
.vstat ul{
    display: block;
    padding: 30px 30px; 
    border-radius: 50%;
    border-width: 5px;
    border-color: black;
}
.vstat  li{
    list-style:disc;
    margin-left: 20px;
}
@media(max-width:1100px){
    .vstat{
        flex-direction: column;
        margin-left: 10%;
    }
}

.contact {
   
    margin-top: 10px;
    background-image:radial-gradient(rgba(1, 5, 21, 0.7),rgba(5, 22, 86, 0.8)),url(images/arpad-czapp-H424WdcQN4Y-unsplash.jpg);
    text-align: center;
    background-size: cover;
    
}

.non_current{
    opacity: .6;
}
.current button{
    margin-top: 5px;
    width: 130px;
    animation: pop;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.current button a{
    width: 130px;
    height: 40px;
    color: rgb(11, 11, 109);
}
.free{
    margin-top: 10px;
    margin-top: 5px;
    width: 40%;
    animation: pop;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.free a{
    color: rgb(11, 11, 109);
}


@keyframes pop{
    0%{transform: scale(1); opacity: .9;}
    50%{transform: scale(1.1); opacity: 1; background-color: rgb(30, 30, 163);}
    100%{transform: scale(1); opacity: .9;}
}
.contactus_container{
    padding-top: 20px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.contactelements1{
    height: 15vh;   
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.contact_elements{
    text-align: center;
    width: 50%;
}
@media(max-width:1100px){
    .contactus_container{
        width: 95%;
    }
}


.footer{
    background-image: linear-gradient(rgb(16, 16, 101) 10%, rgba(3, 12, 49));
    text-align: center;
    padding-top: 20px;
}
.footer_container{
    margin: 0 auto;
    width: 80%;
}
.socials{
    display: flex;
    justify-content: center;
}